
.streaming_img{
	border-radius: 10px;
	width: 957px;
	height: 534;
	background: black;

}
.rotate90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}